<div class="container-fluid">
  <div id="container" class="row margin-top">
    <div class="container-fluid col-sm-12 col-md-6 info pt-5">
      <p class="styled-text">Le Brilliant</p>
      <br>
      ul. Mariana Domagały 45
      <br>
      30-741, Kraków
      <br>
      <a href="tel:+48533671299">+48 533 671 299</a>
    </div>
    <div class="map-responsive container col-sm-12 col-md-6">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.346244099889!2d20.048819215715998!3d50.02360757941876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716455814edc523%3A0x6001f153a19a0149!2sLe%20Brilliant!5e0!3m2!1spl!2spl!4v1610104727445!5m2!1spl!2spl"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div id="contactForm" class="container">
  <p class="text-center mb-5 styled-text">Skontaktuj się z nami</p>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
        <div class="form-group">
          <label for="Email">Email</label>
          <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Email"
            formControlName="Email">
          <small id="emailHelp" class="form-text text-muted">Twój adres email jest bezpieczny, nie przekażemy go
            dalej.</small>
        </div>
        <div class="form-group">
          <label for="fullname">Imię</label>
          <input type="text" class="form-control" name="Fullname" placeholder="Imię" formControlName="Fullname">
        </div>
        <div class="form-group">
          <label for="phone">Telefon</label>
          <input type="text" class="form-control" name="Phone" placeholder="Telefon" formControlName="Phone">
        </div>
        <div class="form-group">
          <label for="comment">Komentarz</label>
          <textarea class="form-control" formControlName="Comment" name="Comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">Wyślij</button>
      </form>
    </div>
  </div>
</div>