<div class="container-fluid thalgo" style="margin-top: 150px">
    <h1>Zabiegi wyszczuplające i modelujące</h1>
    <table class="table table-hover tb w-80">
        <tbody>
            <tr>
                <td>
                    <div class="title">
                        <p>ICOONE ciało</p>
                    </div>
                    <div class="description">
                        <p>{{(showIcone) ? icone : icone | slice:0:150}} <span *ngIf="!showIcone">...</span> 
                            <a class="link" *ngIf="!showIcone" (click)="showIcone=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>150,00zł</p>
                    </div>
                    <div class="time">
                        <p>40min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Fala Radiowa Ciało</p>
                    </div>
                    <div class="description">
                        <p>{{(showFrc) ? frc : frc | slice:0:150}} <span *ngIf="!showFrc">...</span> 
                            <a class="link" *ngIf="!showFrc" (click)="showFrc=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>80,00zł</p>
                    </div>
                    <div class="time">
                        <p>30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Fala Radiowa Ciało</p>
                    </div>
                    <div class="description">
                        <p>{{(showFrc) ? frc : frc | slice:0:150}} <span *ngIf="!showFrc">...</span> 
                            <a class="link" *ngIf="!showFrc" (click)="showFrc=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>120,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Liposukcja ultradźwiękowa</p>
                    </div>
                    <div class="description">
                        <p>{{(showUltra) ? ultra : ultra | slice:0:150}} <span *ngIf="!showUltra">...</span> 
                            <a class="link" *ngIf="!showUltra" (click)="showUltra=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>120,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Liposukcja ultradźwiękowa</p>
                    </div>
                    <div class="description">
                        <p>{{(showUltra) ? ultra : ultra | slice:0:150}} <span *ngIf="!showUltra">...</span> 
                            <a class="link" *ngIf="!showUltra" (click)="showUltra=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>80,00zł</p>
                    </div>
                    <div class="time">
                        <p>30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>ICOONE dodatkowy focus na ciało</p>
                    </div>
                    <div class="description">
                        <p>Focus to nic innego jak dodatkowy program do zabiegu Icoone, który możemy wybrać na dowolna partię ciała.</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>50,00zł</p>
                    </div>
                    <div class="time">
                        <p>10min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Drenaż Limfatyczny</p>
                    </div>
                    <div class="description">
                        <p>{{(showLimf) ? limf : limf | slice:0:150}} <span *ngIf="!showLimf">...</span> 
                            <a class="link" *ngIf="!showLimf" (click)="showLimf=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>70,00zł</p>
                    </div>
                    <div class="time">
                        <p>45min</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <h1>Zabiegi na ciało</h1>
    <table class="table table-hover tb w-80">
        <tbody>
            <tr>
                <td>
                    <div class="title">
                        <p>Oczyszczanie manualne pleców</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>180,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Mezoterapia mikroigłowa uda</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>250,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Mezoterapia mikroigłowa brzuch</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>240,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Mikrodermabrazja plecy + maska łagodząca</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>120,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <h1>Bandaże Arosha</h1>
    <table class="table table-hover tb w-80">
        <tbody>
            <tr>
                <td>
                    <div class="title">
                        <p>Slim Cel</p>
                    </div>
                    <div class="description">
                        <p>{{(showSlimcel) ? slimcel : slimcel | slice:0:150}} <span *ngIf="!showSlimcel">...</span> 
                            <a class="link" *ngIf="!showSlimcel" (click)="showSlimcel=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>180,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h15min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Lipho cel</p>
                    </div>
                    <div class="description">
                        <p>Zabieg kosmetyczny na cellulit, w którym kofeina, L-karnityna i fosfatydylocholina działają wspólnie na zlokalizowane obszary, chroniąc przed gromadzeniem się tłuszczu</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>180,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h10min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Crio Tonic</p>
                    </div>
                    <div class="description">
                        <p>Ujędrniający zabieg kosmetyczny bogaty w kwas hialuronowy, żeń-szeń i mentol, które maja właściwości tonizujące, ujędrniające i nawilżające skórę.</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>180,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h10min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Firm up</p>
                    </div>
                    <div class="description">
                        <p>Bandaże niezwykle bogate w składniki aktywne, które łagodzą objawy wywołane procesami zatrzymywania wody oraz tworzenia się cellulitu. Ponadto maja działanie nawilżające i antyoksydacyjne.</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>180,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h10min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Aqua Drain</p>
                    </div>
                    <div class="description">
                        <p>Drenujący zabieg kosmetyczny, dzięki soli z Morza Martwego, alantoniny oraz kwasu mlekowego poprawia nawilżenie skóry, stymuluje naturalny proces drenażu limfatycznego, przez co wspomaga zmniejszenie cellulitu.</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>180,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h15min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Lift PLUS</p>
                    </div>
                    <div class="description">
                        <p>Odbudowujący zabieg z bandażami, który dzięki zawartości różnych odmian alg i ich właściwości stymuluje aktywność fibroblastów, przywracając skórze jej elastyczność i prawidłowy koloryt. Dodatkowa zawartość karnozyny przeciwdziała naturalnym procesom starzenia się skóry.</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>180,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h10min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Lipofit</p>
                    </div>
                    <div class="description">
                        <p>Innowacyjny zabieg na okolice brzucha. Specjalny koncentrat nakierowany głownie na rozkład adipocytów ( komórki tłuszczowe).</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>200,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Bandaże biust</p>
                    </div>
                    <div class="description">
                        <p>Bandaże nasączone są mieszanką składników aktywnych, które poprawiają elastyczność i napięcie skóry. Pomagają modelować, przywrócić piersiom zdrowy wygląd oraz objętość.</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>180,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h10min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Bandaże + drenaż limfatyczny</p>
                    </div>
                    <div class="description">
                        <p>{{(showBdl) ? bdl : bdl | slice:0:150}} <span *ngIf="!showBdl">...</span> 
                            <a class="link" *ngIf="!showBdl" (click)="showBdl=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>220,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h30min</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>