<div class="container-fluid thalgo" style="margin-top: 150px">
    <h1>Stylizacja brwi i rzęs</h1>
    <table class="table table-hover tb w-80">
        <tbody>
            <tr>
                <td>
                    <div class="title">
                        <p>Henna brwi + regulacja</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>30,00zł</p>
                    </div>
                    <div class="time">
                        <p>30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Stylizacja brwi Henną Pudrową</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>80,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Lifting, laminacja i botoks brwi i rzęs</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>200,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Laminacja brwi z botoksem i koloryzacją</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>159,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Laminacja brwi z koloryzacją</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>149,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Laminacja brwi</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>120,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Lifting rzęs z koloryzacją</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>135,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h20min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Lifting rzęs z koloryzacją i botoksem</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>150,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Henna brwi i rzęs + regulacja</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>40,00zł</p>
                    </div>
                    <div class="time">
                        <p>30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Lifting brwi i rzęs z koloryzacją</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>160,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Lifting rzęs</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>120,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Regulacja brwi</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>15,00zł</p>
                    </div>
                    <div class="time">
                        <p>15min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Henna brwi</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>20,00zł</p>
                    </div>
                    <div class="time">
                        <p>25min</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>