<div class="container-fluid">
    <div class="row">
        <div class="container-fluid booksy-services">
        </div>
        <div class="container-fluid">
            <div class="row first">
                <div class="col-sm-12 col-md-6 col-lg-4 box">
                    <a href="/uslugi/thalgo"></a>
                    <h1>Zabiegi THALGO</h1>
                    <img src="../../assets/oferta/Zabiegi-Thalgo.jpg" style="width: 100%;">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 box">
                    <a href="/uslugi/stylizacja-brwi-i-rzes"></a>
                    <h1>Stylizacja brwi i rzęs</h1>
                    <img src="../../assets/oferta/zabiegi rzes.jpg" style="width: 100%;">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 box">
                    <a href="/uslugi/wosk"></a>
                    <h1>Wosk</h1>
                    <img src="../../assets/oferta/wosk.jpg" style="width: 100%;">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 box">
                    <a href="/uslugi/zabiegi-wyszczuplajace-i-modelujace"></a>
                    <h1>Zabiegi wyszczuplające i modelujące</h1>
                    <img src="../../assets/oferta/zabieg-wyszczuplajacy.jpg" style="width: 100%;">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 box">
                    <a href="/uslugi/zabiegi-twarz"></a>
                    <h1>Zabiegi twarz</h1>
                    <img src="../../assets/oferta/zabiegi twarz.jpg" style="width: 100%;">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 box">
                    <a href="/uslugi/peelingi"></a>
                    <h1>Peelingi chemiczne</h1>
                    <img src="../../assets/oferta/peelingchemiczny.jpg" style="width: 100%;">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 box">
                    <a href="/uslugi/manicure-i-pedicure"></a>
                    <h1>Manicure & Pedicure</h1>
                    <img src="../../assets/oferta/manicure.jpg" style="width: 100%;">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 box">
                    <a href="/uslugi/rytualy"></a>
                    <h1>Rytuały Spa</h1>
                    <img src="../../assets/oferta/rytual spa.jpg" style="width: 100%;">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 box">
                    <a href="/uslugi/masaze"></a>
                    <h1>Masaże</h1>
                    <img src="../../assets/oferta/masaz-klasyczny.jpg" style="width: 100%;">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 box">
                    <a href="/uslugi/pakiety"></a>
                    <h1>Pakiety</h1>
                    <img src="../../assets/oferta/pakiety.png" style="width: 100%;">
                </div>
            </div>
            <div id="booksy-here"></div>
        </div>
    </div>
</div>