<div class="container-fluid thalgo" style="margin-top: 150px">
    <h1>Manicure & Pedicure</h1>
    <table class="table table-hover tb w-80">
        <tbody>
            <tr>
                <td>
                    <div class="title">
                        <p>Manicure japoński</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>50,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Parafina na dłonie</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>30,00zł</p>
                    </div>
                    <div class="time">
                        <p>30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Usunięcie żelu</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>40,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Ściągnięcie hybrydy</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>30,00zł</p>
                    </div>
                    <div class="time">
                        <p>45min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Manicure hybrydowy</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>60,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h40min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Pedicure hybrydowy</p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>100,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h40min</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>