<div class="container-fluid thalgo" style="margin-top: 150px">
    <h1>Pakiety</h1>
    <table class="table table-hover tb w-80">
        <tbody>
            <tr>
                <td>
                    <div class="title">
                        <p>ICOONE ciało 5 zabiegów</p>
                    </div>
                    <div class="description">
                        <p>{{(showIcone) ? icone : icone | slice:0:150}} <span *ngIf="!showIcone">...</span> 
                            <a class="link" *ngIf="!showIcone" (click)="showIcone=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>700,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h10min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>ICOONE ciało 10 zabiegów</p>
                    </div>
                    <div class="description">
                        <p>{{(showIcone) ? icone : icone | slice:0:150}} <span *ngIf="!showIcone">...</span> 
                            <a class="link" *ngIf="!showIcone" (click)="showIcone=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>1350,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h10min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>ICOONE ciało 15 zabiegów</p>
                    </div>
                    <div class="description">
                        <p>{{(showIcone) ? icone : icone | slice:0:150}} <span *ngIf="!showIcone">...</span> 
                            <a class="link" *ngIf="!showIcone" (click)="showIcone=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>1900,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h10min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Fala Radiowa 5 zabiegów</p>
                    </div>
                    <div class="description">
                        <p>{{(showFrc) ? frc : frc | slice:0:150}} <span *ngIf="!showFrc">...</span> 
                            <a class="link" *ngIf="!showFrc" (click)="showFrc=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>350,00zł</p>
                    </div>
                    <div class="time">
                        <p>45min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Fala Radiowa 10 zabiegów</p>
                    </div>
                    <div class="description">
                        <p>{{(showFrc) ? frc : frc | slice:0:150}} <span *ngIf="!showFrc">...</span> 
                            <a class="link" *ngIf="!showFrc" (click)="showFrc=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>700,00zł</p>
                    </div>
                    <div class="time">
                        <p>45min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Liposukcja ultradźwiękowa 5 zabiegów</p>
                    </div>
                    <div class="description">
                        <p>{{(showUltra) ? ultra : ultra | slice:0:150}} <span *ngIf="!showUltra">...</span> 
                            <a class="link" *ngIf="!showUltra" (click)="showUltra=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>350,00zł</p>
                    </div>
                    <div class="time">
                        <p>30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Liposukcja ultradźwiękowa 10 zabiegów</p>
                    </div>
                    <div class="description">
                        <p>{{(showUltra) ? ultra : ultra | slice:0:150}} <span *ngIf="!showUltra">...</span> 
                            <a class="link" *ngIf="!showUltra" (click)="showUltra=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>700,00zł</p>
                    </div>
                    <div class="time">
                        <p>30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>ICOONE Face Endermolift 3 zabiegi</p>
                    </div>
                    <div class="description">
                        <p>{{(showIfe) ? ife : ife | slice:0:150}} <span *ngIf="!showIfe">...</span>
                            <a class="link" *ngIf="!showIfe" (click)="showIfe=true"> więcej</a>
                        </p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>330,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>ICOONE Face Endermolift 6 zabiegów</p>
                    </div>
                    <div class="description">
                        <p>{{(showIfe) ? ife : ife | slice:0:150}} <span *ngIf="!showIfe">...</span>
                            <a class="link" *ngIf="!showIfe" (click)="showIfe=true"> więcej</a>
                        </p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>630,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>ICOONE Face Endermolift 10 zabiegów</p>
                    </div>
                    <div class="description">
                        <p>{{(showIfe) ? ife : ife | slice:0:150}} <span *ngIf="!showIfe">...</span>
                            <a class="link" *ngIf="!showIfe" (click)="showIfe=true"> więcej</a>
                        </p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>1000,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Drenaż Limfatyczny 5 zabiegów</p>
                    </div>
                    <div class="description">
                        <p>{{(showLimf) ? limf : limf | slice:0:150}} <span *ngIf="!showLimf">...</span> 
                            <a class="link" *ngIf="!showLimf" (click)="showLimf=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>300,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Drenaż Limfatyczny 10 zabiegów</p>
                    </div>
                    <div class="description">
                        <p>{{(showLimf) ? limf : limf | slice:0:150}} <span *ngIf="!showLimf">...</span> 
                            <a class="link" *ngIf="!showLimf" (click)="showLimf=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>500,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Bandaże Arosha + drenaż limfatyczny 4 zabiegi</p>
                    </div>
                    <div class="description">
                        <p>{{(showBdl) ? bdl : bdl | slice:0:150}} <span *ngIf="!showBdl">...</span> 
                            <a class="link" *ngIf="!showBdl" (click)="showBdl=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>800,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h30min</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">
                        <p>Bandaże Arosha + drenaż limfatyczny 8 zabiegi</p>
                    </div>
                    <div class="description">
                        <p>{{(showBdl) ? bdl : bdl | slice:0:150}} <span *ngIf="!showBdl">...</span> 
                            <a class="link" *ngIf="!showBdl" (click)="showBdl=true"> więcej</a></p>
                    </div>
                </td>
                <td colspan="2">
                    <div class="price">
                        <p>1400,00zł</p>
                    </div>
                    <div class="time">
                        <p>1h30min</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>